body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  font-size: 5.625rem;
  color: #053742;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
}

h2 {
  color: #2d4263;
  font-size: 1.3rem;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #c84b31;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #c84b31;
  border-width: 20px;
  width: 25%;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.pro {
  text-decoration: underline;
}

.top-container {
  background-color: #e8f0f2;
  position: relative;
  padding-top: 100px;
}

.middle-container {
}

.bottom-container {
  margin-top: ;
}

.bottom-cloud {
  position: absolute;
  bottom: 600px;
  left: 100px;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 100px;
}

#fuji {
  max-height: 75%;
  max-width: 75%;
}
.parliament {
  position: absolute;
  bottom: 15px;
  max-height: 10%;
  max-width: 10%;
}

#hiro-picture {
  max-height: 15%;
  max-width: 15%;
}
.skills-picture-left {
  float: left;
  max-height: 13%;
  max-width: 13%;
  margin-right: 2rem;
  
}

.skills-picture-right {
    float: right;
    max-height: 13%;
    max-width: 13%;
    margin-left: 2rem;
    
  }

.navy-background {
  background-color: #2d4263;
}

#work-experience-text {
  font-family: "Montserrat", sans-serif;
  color: #005691;
  font-size: 1rem;
  text-decoration: underline;
}