body {
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #40514e;
}

h1 {
  font-size: 5.625rem;
  color: #053742;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
}

h2 {
  color: #2d4263;
  padding-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #c84b31;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #c84b31;
  border-width: 0.5rem;
  width: 10%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

p {
  line-height: 2;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 55%;
  text-align: center;
  margin: auto;
}

#history-picture {
  float: right;
  max-height: 10%;
  max-width: 10%;
}

.background-story {
  width: 50%;
  margin: auto;
  text-align: right;
}

.top-container {
  background-color: #e8f0f2;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0 100px 0;
}

.bottom-container {
  background-color: #005691;
  color: #fafafa;
  padding: 50px 0 20px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.bottom-cloud {
  position: absolute;
  bottom: 600px;
  left: 100px;
}

a {
  color: #fafafa;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #f66b0e;
}

.copyright {
  color: #efefef;
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 100px;
}

#fuji {
  max-height: 75%;
  max-width: 75%;
}
.parliament {
  position: absolute;
  bottom: 15px;
  max-height: 10%;
  max-width: 10%;
}

#hiro-picture {
  max-height: 15%;
  max-width: 15%;
}
.skills-picture-left {
  float: left;
  max-height: 13%;
  max-width: 13%;
  margin-right: 2rem;
}

.skills-picture-right {
  float: right;
  max-height: 13%;
  max-width: 13%;
  margin-left: 2rem;
}

.navy-background {
  background-color: #2d4263;

  margin-bottom: 2rem;
}

#work-experience-text {
  font-family: "Montserrat", sans-serif;
  color: #495464;
  font-size: 1rem;
  text-decoration: underline;
}

.btn {
  background: #398ab9;
  background-image: -webkit-linear-gradient(top, #398ab9, #1c658c);
  background-image: -moz-linear-gradient(top, #398ab9, #1c658c);
  background-image: -ms-linear-gradient(top, #398ab9, #1c658c);
  background-image: -o-linear-gradient(top, #398ab9, #1c658c);
  background-image: linear-gradient(to bottom, #398ab9, #1c658c);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #004a7c;
  background-image: -webkit-linear-gradient(top, #004a7c, #005691);
  background-image: -moz-linear-gradient(top, #004a7c, #005691);
  background-image: -ms-linear-gradient(top, #004a7c, #005691);
  background-image: -o-linear-gradient(top, #004a7c, #005691);
  background-image: linear-gradient(to bottom, #004a7c, #005691);
  text-decoration: none;
}
